---
layout: default
home: true
description: "Code & write what we want."
---

<!-- Site Title & Description
================================================== -->
<div style="padding-left:2px;padding-top:20px;padding-bottom:60px;">
    <p class="sitetag site-title">
        {{ site.title }}
    </p>
    <p class="sitetag">
        {{ site.description }}
    </p>
</div>

<!-- Posts Index
================================================== -->
<div class="double-line-text">
    <span class="line"></span>
    <span class="text">ARTICLES</span>
    <span class="line"></span>
</div>
<div class="blog-grid-container" id="Articles">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

<p class="sitetag" style="font-size:smaller;text-align:center;padding-top:30px;">
    {{ site.introduction }}
</p>
