---
layout: default
title: 主页
home: true
description: "Code & write what we want."
---

<!-- Site Title & Description
================================================== -->
<p class="sitetag site-title">
    {{ site.title }}
</p>
<p class="sitetag">
    {{ site.description }}
</p>
<p class="sitetag" style="font-size:smaller;">
    {{ site.introduction }}
</p>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
