---
layout: default
title: 主页
home: true
description: "Code & write what we want."
---

<!-- Site Name & Description
================================================== -->
<p class="sitetag">
    {{ site.description }}
</p>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
