<section>
    <div id="tcomment"></div>
    <script src="https://cdn.jsdelivr.net/npm/twikoo@1.4.4/dist/twikoo.all.min.js"></script>
    <script>
        // Initialize Twikoo
        twikoo.init({
            envId: '{{ site.twikoo.envId }}',
            el: '#tcomment',
            region: '{{ site.twikoo.region }}',
            path: 'window.location.pathname',
            lang: '{{ site.twikoo.lang }}',
        });
    </script>
    {% if site.ie_check %}
    <script>
        if (window.isIE) document.getElementById("tcomment").innerHTML = "<p class=\"not-support-message\">{{ site.ie_check.comment }}</p>";
    </script>
    {% endif %}
</section>