:root {
    --color-primary: #3df9ff;
    --color-primary-darken: #06ebfc;
    --color-primary-underline: linear-gradient(180deg, transparent 89%, #3df9ff 0);
    --color-text: #212529;
    --color-text-secondary: #555;
    --color-rawicon: #212529;
    --color-sidebar-item: #8e9aa7;
    --color-blog-grid-item: #555;
    --color-code: #94918d;
    --color-splitline: #bbb;
    --color-spoiler: #555;
    --color-strong: #111;
    --color-background: #f4f4f4;
    --color-background-sidebar: #fff;
    --color-background-footer: #fff;
    --color-background-code: #fff;
    --color-background-spoiler: #fff;
    --color-background-card: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #3df9ff;
        --color-primary-darken: #06ebfc;
        --color-primary-underline: linear-gradient(180deg, transparent 89%, #3df9ff 0);
        --color-text: #d0cDc7;
        --color-text-secondary: #bbb;
        --color-rawicon: #d0cDc7;
        --color-sidebar-item: #a9a196;
        --color-blog-grid-item: #bbb;
        --color-code: #d1cdc7;
        --color-splitline: #999;
        --color-spoiler: #bbb;
        --color-strong: #eee;
        --color-background: #1e2122;
        --color-background-sidebar: #171a1d;
        --color-background-footer: #171a1d;
        --color-background-code: #171a1d;
        --color-background-spoiler: #171a1d;
        --color-background-card: #171a1d;
    }
}