---

---

$primary: #3df9ff;
$foreground: #212529;
$foreground-secondary: #333;
$foreground-sidebar: #8e9aa7;
$foreground-code: #94918d;
$foreground-splitline: #bbb;
$strong-foreground: #111;
$background: #f4f4f4;
$background-secondary: #fff;

$primary-dark: $primary;
$foreground-dark: #d0cDc7;
$foreground-secondary-dark: #bbb;
$foreground-sidebar-dark: #a9a196;
$foreground-code-dark: #d1cdc7;
$foreground-splitline-dark: #999;
$strong-foreground-dark: #eee;
$background-dark: #1e2122;
$background-secondary-dark: #171a1d;

:root {
    --color-primary: $primary;
    --color-text: $foreground;
    --color-rawicon: $foreground;
    --color-sidebar-item: $foreground-sidebar;
    --color-blog-grid-item: $foreground-secondary;
    --color-code: $foreground-code;
    --color-splitline: $foreground-splitline;
    --color-spoiler: $foreground-secondary;
    --color-strong: $strong-foreground;
    --color-background: $background;
    --color-background-sidebar: $background-secondary;
    --color-background-footer: $background-secondary;
    --color-background-code: $background-secondary;
    --color-background-spoiler: $background-secondary;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: $primary-dark;
        --color-text: $foreground-dark;
        --color-rawicon: $foreground-dark;
        --color-sidebar-item: $foreground-sidebar-dark;
        --color-blog-grid-item: $foreground-secondary-dark;
        --color-code: $foreground-code-dark;
        --color-splitline: $foreground-splitline-dark;
        --color-spoiler: $foreground-secondary-dark;
        --color-strong: $strong-foreground-dark;
        --color-background: $background-dark;
        --color-background-sidebar: $background-secondary-dark;
        --color-background-footer: $background-secondary-dark;
        --color-background-code: $background-secondary-dark;
        --color-background-spoiler: $background-secondary-dark;
    }
}