@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Noto+Sans+SC:wght@500&display=swap');

:root {
    --custom-font-fallback: "Hind", "Noto Sans SC", "SourceHan Sans SC", "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
    font-family: var(--custom-font-fallback);
}
.markdown-body {
    font-family: Hind, var(--custom-font-fallback);
}

/* Double line */
div.double-line-text {
    text-align: center;
    line-height: 30px;
    display: flex;
    margin: 20px 0;
}
div.double-line-text span.line {
    width: 100%;
    color: var(--sec-text-color);
    border-top: 1px double;
    margin-top: 15px;
}
div.double-line-text span.text {
    margin: auto 12px;
    flex: none
}